.content
  .hero-unit
    h1 Welcome to Harp
    p An opinionated static site generator for rapidly building responsive HTML5 applications

    p
      a.btn.btn-primary(href="#") Download Harp
  
  hr 
  
  h2 Getting Started

  ul.thumbnails.row-fluid
    li.span4
      .thumbnail
        h3 Register
        p We'll assign an OAuth client_id and client_secret for each of your applications.
    li.span4
      .thumbnail
        h3 Authenticate
        p Have our user authenticate and authorize your application with Instagram.
    li.span4
      .thumbnail
        h3 Start making requests!
        p Make requests to our API Endpoints with your authenticated OAuth credentials.